@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

//bootstrap sass
@import './sass/_functions.scss';
@import './sass/_variables.scss';
@import './sass/mixins/_breakpoints.scss';

:root{
  //first variables
  --DarkViolet: hsl(256, 26%, 20%);
  --GrayishBlue: hsl(216, 30%, 68%);
  //second variables
  --VeryDarkViolet: hsl(270, 9%, 17%);
  --DarkGrayishViolet: hsl(273, 4%, 51%);
  --VeryLightGray: hsl(0, 0%, 98%);

  //third variables
  --fontHead: 'DM Serif Display';
  --fontBody:'Karla';
  font-size: 16px;
  --ismd:1;
}
//mixins
@mixin title {
  font-family: var(--fontHead);
  font-weight: 700;
  font-size: 2.8em;
  margin-bottom: 20px;
}
//fin mixins
//wrapper
.wr{
  padding:0 40px;
}
//header
.navbar{
  padding: 0 !important;
  padding-left: 10px !important;
  .logo{
    height: 18px;
    margin: 20px 0px 20px 8px;
  }
}
.butn{
  background-color: transparent;
  margin-top: 20px;
  border: none;
  letter-spacing: 2.2px;
  width: 90%;
  height: 50px;
  color: var(--VeryLightGray);
}
.collapse{
  font-family:var(--fontHead) ,serif;
  color: var(--VeryLightGray);
  background-color: var(--VeryDarkViolet);
  text-align: center;
  display: flex ;
  flex-direction: column ;
  margin-left: -10px;
  .butn:first-of-type{
    margin: 30px 0 0 0;
  }
  .butn:last-of-type{
    margin-bottom: 20px;
  }
  .butn:hover{
    border: 2px solid var(--VeryLightGray);
  }
}
//fin header

//First content
.firstconten{
  color: var(--VeryLightGray);
  text-align: center;
  padding-bottom: 200px;
  background-image:url("./components/images/bg-pattern-intro-right-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  .img_conten{
    background-image: url("./components/images/image-intro-mobile.jpg");
    background-repeat: no-repeat;
    height: 451px;
    width: 375px;
  }

  &_contentinfo{
    background-color: var(--DarkViolet);
    padding:60px 30px !important;
    z-index: -1;
    background-image: url("./components/images/bg-pattern-intro-left-mobile.svg");
    background-repeat: no-repeat;
    background-position: top left;
    .title{
      @include title;
    }
    .text{
      font-family: var(--fontBody);
      font-size: 1em;
    }
  }
}
.firtcontenbutn{
  width: 50%;
  max-width: 200px;
  border: 1px solid var(--VeryLightGray);
  background-color: transparent;
  color: var(--VeryLightGray);
}
//SECTION DIFERRENT
.titled{
  @include title;
  text-align: center;
  margin-bottom: 60px;
}
.mycard{
  font-family: var(--fontHead);
  text-align: center;
  border: none !important;
  margin-bottom: 30px;
  .card_img{
    margin: 10px auto;
    width: 80px;
    height: 80px;
  }
  .card_title{
    font-weight: 700;
    font-size: 1.8em;
  }
  .card_text{
    font-family: var(--fontBody);
    color: var(--DarkGrayishViolet);
  }
}
//fin mycard

//fintout
.findout{
  background-color: var(--DarkViolet);
  color: var(--VeryLightGray);
  background-image: url("./components/images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  margin: 100px 0;
  .titlef{
    @include title;
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 2.3em;
    text-align: center;
  }
  .container_butnf{
    display: flex;
    justify-content: center;
    .firtcontenbutn{
      padding: 10px;
      width: 60%;
      border: 2px solid var(--VeryLightGray);
      margin-bottom: 70px;
    }
  }
}
//fin finout

//footer
.footer{
  background-color: var(--VeryLightGray);
  background-image: url("./components/images/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  &_header{
    margin-top: 100px;
    text-align: center;
    &_logo{
      margin-top: 70px;
      margin-bottom: 30px;
    }
    &_icons{
      a{
        margin: 15px;
      }
    }
  }
  hr{
    margin: 30px 0;
  }
  &_body{
    text-align: center;
  }
}
.list{
  &_h1{
    @include title;
    font-family: var(--fontBody);
    color: var(--DarkGrayishViolet);
    font-size: 1em;
    margin: 40px 0;
  }     
  &_list{
    padding-left: 0;
    list-style: none;
    &_li{
      margin: 20px 0;
      a{
        color: var(--DarkViolet);
        font-weight: 700;
      }
      a:hover{
        text-decoration: none;
        color: var(--DarkGrayishViolet);
      }
    }
  }
}

//fin footer


//RESPONSIVE FOR SM
@include media-breakpoint-up(sm){
  .collapse{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    .butn{
      max-width: 150px;
      margin: 0;
      padding: 0 !important;
      color: var(--VeryDarkViolet);
    }
    .butn:hover{
      border-color:var(--VeryDarkViolet);
    }
    .butn:first-of-type{
      margin-top: 0;
    }
    .butn:last-of-type{
      margin-bottom: 0;
    }
  }
  .firstconten{
    .img_contenedor{
      display: flex;
      justify-content: right ;
      padding-left: 70px;
      background-color: var(--DarkViolet);
      background-image: url("./components/images/bg-pattern-intro-right-desktop.svg");
    }
    .img_conten{
      background-image: url("./components/images/image-intro-desktop.jpg");
      background-size: 600px 500px;
      width: 100%;
      
    }
  }
}

@include media-breakpoint-up(md){
  
  .firstconten{
    .img_contenedor{
      padding-left: 0px;
      background-color: var(--DarkViolet);
      background-image: none;
    }
    .img_conten{
      background-image: url("./components/images/image-intro-mobile.jpg");
      background-size: 450px 500px;
      width: 100%;
      
    }
  }
}

@include media-breakpoint-up(lg){
  .logo{
    margin-left: 60px !important;
  }
  .firstconten{
    background-image: url("./components/images/bg-pattern-intro-left-desktop.svg");
    background-position: left bottom;
    background-size: 200px 400px;
    .img_contenedor{
      display: flex;
      background-color: var(--DarkViolet);
      background-image: url("./components/images/bg-pattern-intro-right-desktop.svg");
      background-repeat: no-repeat;
      background-position: top right;
      position: relative;
      padding-top: 50px;
    }
    .img_conten{
      background-image: url("./components/images/image-intro-desktop.jpg");
      background-size:  500px 600px;
      position: absolute;
      width: 500px;
      height: 600px;
    }
    &_contentinfo{
      background-image: none;
      .title{
        margin-left: 60px;
        width: 500px;
        font-size: 4em;
        margin-top: 60px;
        text-align: left;
      }
      .text{
        margin-left: 60px;
        width: 550px;
        text-align: left;
      }
    }
  }
  .titled{
    text-align: left;
    margin-left: 100px;
  }

  .findout{
    .titlef{
      text-align: left !important;
      padding-left: 60px;
    }
    .container_butnf{
      align-items: center;
      justify-content: end;
      .firtcontenbutn{
        margin-bottom: 0px;
        margin-right: 60px;
      }
    }
  }
  .footer_header{
    &_logo{
      margin: auto;
      text-align: left;
      .logo{
        margin-left: 60px;
      }
    }
    &_icons{
      display: flex;
      justify-content: right;
      a:last-of-type{
        margin-right: 60px;
      }
    }
  }

  .footer_body{
    .list{
      padding-left: 70px;
      text-align: left;
    }
  }
}
